:root {
    --bg: #121212; /* or any color you like */
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg); /* Make sure --bg is defined somewhere */
}

.toggle-scene {
    overflow: visible !important;
    height: 50vmin;
    position: absolute;
}
